@charset "UTF-8";

body {font-family: 'Pretendard', '맑은 고딕', sans-serif;}
.inner {width: 1450px; margin: auto; padding: 0 4vw;} /* 화면의 4% 차지 */

/* header */
.top_menu_box {
  height: 66px;
}
header {
  height: 80px;
}
.top_menu_box .inner, header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top_menu_box .inner {align-items: end;}

.top_menu {}
.top_menu ul {}
.top_menu li{
  display: inline-block;
  font-size: 14px;
  color: #111;
  margin-left: 24px;
}
.top_menu a {}

nav {}
nav > ul {}
nav > ul > li {display: inline-block; margin-right: 37px;}
nav > ul > li > a {font-size: 14px; display: block; line-height: 75px;}
nav > ul > li > a::after {display: block; content: ""; width: 0; height: 2px; background: black; transition: 0.3s;}
nav > ul > li > a:hover::after {width: 100%;}

.search {}
.search_in {
  background: #f1f1f1; 
  width: 317px; 
  height: 35px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search input {
  width: 250px; 
  font-size: 16px; 
  background: transparent; 
  border: 0; 
  outline: none; /* 검색창 테두리 없애기 */
}
.search img {width: 17px; height: 17px;} /* 플렉스때문에 이미지가 늘어나니까 아예 크기를 고정해버림 */


/* visual */
#visual {
  height: calc(100vh - 146px); /* 메뉴 제외하고 사진만 항상 화면에 꽉 차게 하는 법 */
  min-width: 1450px;
}
#visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* section */
section {margin: 120px auto 0;}
.tit_box {text-align: center; margin-bottom: 45px;}
.tit_box .tit {}
.tit_box span {
  font-size: 22px; 
  display: block; 
  padding-bottom: 12px; 
  color: #303030;
  letter-spacing: -0.7px; /* 자간 줄이는거랑 안하는거랑 차이난다. 해주자. */
}
.tit_box strong {color: #111; letter-spacing: -0.7px; font-size: 36px;}

.tit_btns button {
  padding: 11px 16px;
  background: white;
  border: 1px solid #a0a0a0;
  border-radius: 100px;
  margin: 0 3px;
  color: #111;
  letter-spacing: 0.7px;
  font-size: 17px;
  line-height: 1.5;
}
.tit_btns button.active, .tit_btns button:hover {background: #000; color: white;}
.best_item .cont {}
.cont ul {display: flex; gap: 30px;}
.cont li {width: 25%;}

.cont img {width: 100%;}
.cont strong {
  display: block; 
  font-weight: 400; 
  padding: 20px 0 10px; 
  font-size: 17px; 
  color: #111;
  /*
  - 만약 사진 밑에 글이 길어서 두줄로 넘치면, 말줄임표 넣고 히든 적용. 근데 이걸 적용하려면 꼭 width를 정해줘야 적용됨. 웬만하면 첨부터 안하는게 좋다.
  width: 300px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; */
}

.cont span {font-size: 17px; font-weight: 500;}

.summer .tit {margin-bottom: 30px;}
.summer .cont {display: flex; gap: 20px;}
.summer figure {width: 571px;}
.summer ul {
  flex:1; 
  align-items: start;
  display: grid; 
  gap: 20px; 
  grid-template-columns: repeat(3, 1fr); /* 1 1 1비율 */
}
.summer li {width: 100%;}
.summer li img {width: 100%;}

.summer .cont strong {width: 220px;}

/* video */
.video_container {
  position: relative; 
  height: 750px;
}

.video_container iframe {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
}

/* banner */
.banner .inner {padding: 0 0;}
.banner img {width: 100%;}
.banner .tit_box {margin-bottom: 45px; margin-top: 40px;}
.banner .tit_box span {padding-top: 30px;}

.more {
  width: 160px;
  height: 52px;
  border: 1px solid black;
  margin: 24px auto 0;
}

.more a {display: block; line-height: 52px; font-size: 14px;}
.more a::after {
  display: inline-block; 
  content: "";
  width: 0;
  height: 0;
  border-width: 4px 0 4px 7px; /* 화살표 */
  border-style: solid;
  border-color: transparent transparent transparent #000 ;
  margin-left: 40px;
}
.more a:hover {background: #000; color: #fff; transition: .3s;}
.more a:hover:after {border-left-color: #fff;}

/* line_banner */
.line_banner .inner {padding: 0 0;}
.line_banner img {width: 100%;}
.line_first {margin-bottom: 20px;}

/* influencer */
.influencer .cont li {width: 20%;}
.influencer .id {
  margin: 22px 0 12px;
  font-weight: 600;
}
.influencer .sub {
  font-size: 14px;
  color: #646464;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2; /* 웹킷 안먹는 애도 있을수 있어서 얘도 같이 한 번 더 써주기 */
  overflow: hidden;
}
/* 자주 안쓰는 신규코드 앞엔 -webkit- 넣어줘야 함. */

.prd_box { 
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  padding: 15px 0;
  border-top: 1px solid #eee; 
  border-bottom: 1px solid #eee; 
  transition: .5s;
}
.prd_box figure {width: 54px; flex-shrink: 0; }
.prd_box .prd_txt { 
  flex: 1;
  width: calc(100% - 58px); 
  padding-left: 10px; 
  color: #222; 
}

.goods_tit {font-size: 13px; }
.goods_price {font-size: 12px; font-weight: 600; margin-top: 20px;}

.influencer li:hover .prd_box {
  border-top-color: #222; 
  border-bottom-color: #222;
}

/* instagram */
.instagram .cont div {display: flex; gap: 5px;} 
.instagram a {flex: 1; display: block; height: 330px;} 
.instagram a img { width: 100%; height: 100%; object-fit: cover; } 

/* footer */
footer {
  width: 100%;
  background: #222;
  margin-top: 200px;
  padding: 45px 0 65px;
}

footer .inner {
  display:flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  align-items: flex-start;
}

#top_menu ul {display: flex; padding: 0 0 40px; gap: 40px;}
#top_menu li {
  color: #cecece;
  font-size: 15px;
  list-style: none;
}
#top_menu .private {color: white;font-weight: 600;}

.left .info {color: #cecece; font-size: 13px;}
.left .info p {color: white; display: block; margin: 0; padding-bottom: 10px;}
.left .info span {display: inline-block; margin: 0 20px 10px 0;}
.info em {
  display: block;
  margin-top: 30px;
  color: white; font-style: normal;
}

.right {color: #cecece;}
.tel_box span {font-size: 39px; font-weight: 600; line-height: 1.3; color: white;}
.time {margin: 15px 0 0; line-height: 22px; font-size: 13px; color: white;}

.sns_box {display: flex;}
.sns_box ul {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 30px;
}

.sns_box li {
  list-style: none;
}
.sns_box a {
  display: block;
}